/* h1 {
    color: gold;
} */

/* * {
    color: red;
} */


/* h1 {
    color: orange;
}

p {
    color: green;
}

li {
    color: blue;
} */


/* .color {
    color: blueviolet;
}

#heading {
    color: seagreen;
} */


/* .container>h1 {
    color: red;
}


.box h1 {
    color: blue;
} */


/* h1 {
    color: red !important;
}




div h1 {
    color: green !important;
}

h1 {
    color: blue;
} */


.box1 {
    color: greenyellow;
}